body{
    text-align: center;
}

.success{
    width: 100%;
}

.success_top{
    background:linear-gradient(to bottom, rgb(50, 39, 129), rgb(74, 143, 189));
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: aliceblue;
}

.success_under{
    margin-bottom: 20px;
}