<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>week4作業</title>
        <link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/static/calculate.css"/>
    </head>

    <body>
        <div class="calculate">
            <div class="calculate_top"><b>正整數平方計算結果</b></div>
            <div class="calculate_under">{{result}}</div>
            <a href="http://127.0.0.1:3000/signout">返回首頁</a>
        </div>

        </div>

    </body>
</html>